// $color = #3dc1ff

// // chrome
// ::-webkit-scrollbar
//     width: 8px
//     height: 8px

// ::-webkit-scrollbar-track-piece
//     background-color: #d3e7f1
//     -webkit-border-radius: 16px

// ::-webkit-scrollbar-thumb:vertical
//     height: 8px
//     background-color: $color
//     -webkit-border-radius: 16px

// ::-webkit-scrollbar-thumb:horizontal
//     width: 8px
//     background-color: $color
//     -webkit-border-radius: 16px